@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary: #efe5dc;
    --secondary: #645b4d;
    --primary-strong: #302c25;
    --secondary-strong: #fce5c1;
}

html {
    background-image: url(./images/background.jpg);
    font-family: Lato, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 8pt;
}

img {
    display: block;
    max-width: 512px;
    align-self: center;
    box-shadow: 1px 1px 8px var(--primary-strong);
    margin: 12pt 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--primary-strong);
}

p, ul, ol {
    padding: 0;
    margin: 0;
}

ul, ol {
    margin-left: 12pt;
}

li::marker {
    font-weight: bold;
}

.container {
    max-width: 544px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading {
    margin: 0;
}

.no-pad {
    padding: 0;
}

.small-pad {
    padding: 3pt 6pt;
}

.normal-pad {
    padding: 6pt 12pt;
}

.large-pad {
    padding: 12pt 24pt;
}

.no-margin {
    margin: 0;
}

.normal-margin {
    margin: 12pt 12pt;
}

.large-margin {
    margin: 24pt 24pt;
}

.primary {
    background-color: var(--primary);
    color: var(--primary-strong);
}

.secondary {
    background-color: var(--secondary);
    color: var(--secondary-strong);
}

.primary {
    background-color: var(--primary);
    color: var(--primary-strong);
}

.secondary {
    background-color: var(--secondary);
    color: var(--secondary-strong);
}

.round {
    border-radius: 360px;
}

.link:hover {
    background-color: var(--primary-strong);
}

.link-invert:hover {
    color: var(--primary-strong);
}